.navBarContainer {
    display: flex;
    justify-content: right;
    gap: 2rem;
    margin: 1.4rem;
}

.navLinks {
    display: flex;
    gap: 2rem;
}

.menuIcon {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

.closeIcon {
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background-color: #111;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: right 0.3s ease;
    z-index: 1000;
}

.sidebarOpen {
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.navBarContainer>div,
.sidebar>div {
    cursor: pointer;
}

.myLogin {
    margin-right: auto;
    position: relative;

}

/* Responsive styles */
@media (max-width: 768px) {
    .navLinks {
        display: none;
    }

    .navBarContainer {
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
    }

    .menuIcon {
        display: block;
    }

    .sidebar>div {
        cursor: pointer;
        margin: 1.4rem;
    }

    .myLogin {
        display: block;
        justify-self: flex-start;
    }
}


.dropdownContent {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1d1c1c !important;
    color: #ffffff;
    min-width: 150px;
    border: 1px solid #000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
}

.dropdownItem {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
}

.dropdownItem:hover {
    background-color: #444444;
    border-radius: 8px;
}